# Server Configuration
NODE_ENV=development
PORT=5000

# Database Configuration
# Option 1: MongoDB Atlas (Cloud)
DB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Option 2: Local MongoDB
# DB_URI=mongodb://localhost:27017/blog-api

# User Default Passwords
USER_DEFAULT_PASS=your_default_password_here
DEFAULT_STUDENT_PASS=your_student_password
DEFAULT_FACULTY_PASS=your_faculty_password
